<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>IV CS sandbox</title>
        <% if (vite.devHost) { %>
            <%- include('partials/vite-dev-server') -%>
        <% } else { %>
            <script type="module" src="/<%= vite.manifest[appEntry].file %>"></script>
            <link rel="stylesheet" href="/<%= vite.manifest['index.css'].file %>">
            <link rel="stylesheet" href="/<%= vite.manifest[appEntry].css %>">
        <% } %>

        <% if (forBrowser) { %>
            <script type="application/javascript">
                window.forBrowser = JSON.parse('<%- JSON.stringify(forBrowser) %>');
            </script>
        <% } %>

    </head>
    <body>
        <div id="react-root"></div>
    </body>
</html>

